* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  width: 350vh !important;
  padding: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* background: white;j */
}

.nav_items {
  align-items: center;
  display: flex;
  gap: 35px;
}
.nav_items h2{
cursor: pointer;
transition: all linear .3s;

}

.nav_items h2:hover{

transform: scale(1.2);
color: red;
}

.navInp_and_btn {
  align-items: center;
  display: flex;
  gap: 30px;
}

.navInp_and_btn input{
 padding: 20px;
 border: none;
 outline: none;
 border-radius: 10px;
 background: #ADEED9;
 font-size: 20px;
 color: black;
}
.navInp_and_btn button{
   padding: 18px;
 border: none;
 border-radius: 10px;
 background: #00f6a8;
 outline: none; font-size: 20px;
 color: black;
}