* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  width: 190vh !important;
  padding: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgb(243, 93, 0);
}
.logo{
transition: all linear .3s;
  font-size: 45px;
}
.logo:hover{
transform: scale(1.2);
color: red;
}

.nav_items {
  align-items: center;
  display: flex;
  gap: 35px;
}
.nav_items h2{
cursor: pointer;
transition: all linear .3s;

}

.nav_items h2:hover{

transform: scale(1.2);
color: red;
}

.navInp_and_btn {
  align-items: center;
  display: flex;
  gap: 30px;
}

.navInp_and_btn input{
 padding: 20px;
 border: none;
 outline: none;
 border-radius: 10px;
 background: #ADEED9;
 font-size: 20px;
 color: black;
}
.navInp_and_btn button{
   padding: 18px;
 border: none;
 border-radius: 10px;
 background: #00f6a8;
 outline: none; font-size: 20px;
transition: all linear .3s;
 color: black;
}
.navInp_and_btn button:hover{
transform: scale(1.2);
background: red;

}

/* ----------------banner----------- */

.banner{
  background: url(https://images.unsplash.com/photo-1530982011887-3cc11cc85693?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8YmFubmVyJTIwYmFja2dyb3VuZHxlbnwwfHwwfHx8MA%3D%3D);
  width: 190vh;
  height: 100vh;
  padding-top: 20px;
}